body{
    background-color: #211A1D;
}
.App{
    margin: 0 auto;
    max-width: 90%;
    h1{
        color: #F4F3EE;
        font-size: 5em;
        line-height: 1.5;
    }
}

img{
    transition: .5s;
}
.element{
    background-color: #F8F0FB;
    transition: .5s;
    &:hover{
        background-color: #E0AFA0;
    }
    @media only screen and (max-width: 600px) {
        font-size: 0.7rem;
    }

}